<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <rewrite>
      <rules>

        <!-- WebSocket Socket.IO -->
        <rule name="SocketIO-WebSocket" stopProcessing="true">
          <match url="^socket\.io/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_UPGRADE}" pattern="websocket" />
          </conditions>
          <action type="Rewrite"
                  url="http://127.0.0.1:8100/socket.io/{R:1}"
                  appendQueryString="true" />
          <serverVariables>
            <set name="HTTP_UPGRADE" value="websocket" />
            <set name="HTTP_CONNECTION" value="Upgrade" />
            <!-- evita compresión que rompe con algunos servidores -->
            <set name="HTTP_SEC_WEBSOCKET_EXTENSIONS" value="" />
          </serverVariables>
        </rule>

        <!-- Long Polling Socket.IO -->
        <rule name="SocketIO-Polling" stopProcessing="true">
          <match url="^socket\.io/(.*)" />
          <action type="Rewrite"
                  url="http://127.0.0.1:8100/socket.io/{R:1}"
                  appendQueryString="true" />
        </rule>

        <!-- ICE endpoint -->
        <rule name="ICE-API" stopProcessing="true">
          <match url="^ice$" />
          <action type="Rewrite" url="http://127.0.0.1:8100/config/ice" />
        </rule>

        <rule name="videocall-api" stopProcessing="true">
          <match url="^(auth|users|calls|metrics|config)(/.*)?$" />
          <action type="Rewrite" url="http://127.0.0.1:8100/{R:0}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
